CONFIG_KERNEL_MIPS_FPU_EMULATOR=y

#插件
CONFIG_PACKAGE_luci-app-ramfree=y #释放运存
CONFIG_PACKAGE_luci-app-cpufreq=n #CPU负载均衡调节
CONFIG_PACKAGE_luci-app-frpc=n #内网穿透相关
CONFIG_PACKAGE_luci-app-guest-wifi=y #游客WIFI
CONFIG_PACKAGE_luci-app-hd-idle=n #磁盘休眠
CONFIG_PACKAGE_luci-app-jd-dailybonus=y #京东助手
CONFIG_PACKAGE_luci-app-unblockmusic=y #解锁网易云灰色歌曲
CONFIG_PACKAGE_luci-app-mwan3=y #分流助手
CONFIG_PACKAGE_luci-app-samba=n #Samba
CONFIG_PACKAGE_luci-app-ssr-plus=n #SSRPlus及其所需插件
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks=n
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Rust=n
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Xray=n
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Trojan=n
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_NaiveProxy=n
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Redsocks2=n
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Kcptun=n
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_ShadowsocksR_Server=n
CONFIG_PACKAGE_luci-app-openclash=n #Openclash
CONFIG_PACKAGE_luci-app-passwall=y #Passwall
CONFIG_PACKAGE_luci-app-smartdns=y #SmartDNS
CONFIG_PACKAGE_luci-app-syncdial=y #多线多拨
CONFIG_PACKAGE_luci-app-ttyd=y #TTYD终端
CONFIG_PACKAGE_luci-app-upnp=y #UPNP
CONFIG_PACKAGE_luci-app-usb-printer=n #USB打印机
CONFIG_PACKAGE_luci-app-zerotier=n #ZerotierVPN
CONFIG_PACKAGE_luci-app-flowoffload=y #Flow加速
CONFIG_PACKAGE_luci-app-webadmin=n #Web管理
CONFIG_PACKAGE_luci-app-dnsfilter=y #Dnsfilter去广告
CONFIG_PACKAGE_luci-app-adbyby-plus=n #Adbyby去广告
CONFIG_PACKAGE_luci-app-vsftpd=n #FTP
CONFIG_PACKAGE_luci-app-vlmcsd=n #KMS服务端
CONFIG_PACKAGE_luci-app-ddns=n #DDNS相关
CONFIG_PACKAGE_luci-app-wol=n #网络唤醒相关
CONFIG_PACKAGE_luci-app-onliner=n #在线人员查看
CONFIG_PACKAGE_luci-app-nlbwmon=y #网络带宽监视器
CONFIG_PACKAGE_luci-app-diskman=n #磁盘管理
CONFIG_PACKAGE_luci-app-autotimeset=y #定时设置
CONFIG_PACKAGE_luci-app-autoreboot=n #自动重启
CONFIG_PACKAGE_luci-proto-wireguard=y #WireGuard相关
CONFIG_PACKAGE_luci-app-wireguard=y #WireGuard相关
CONFIG_PACKAGE_kmod-wireguard=y #WireGuard相关
CONFIG_PACKAGE_wireguard-tools=y #WireGuard相关
CONFIG_PACKAGE_luci-app-poweroff=y #关闭路由电源
CONFIG_PACKAGE_luci-app-advanced=y #高级设置
CONFIG_PACKAGE_luci-app-netspeedtest=y #NetSpeedTest
CONFIG_PACKAGE_luci-theme-bootstrap=n #默认主题
CONFIG_PACKAGE_luci-app-argon-config=n #Argon主题相关
CONFIG_PACKAGE_luci-theme-argon=n #Argon主题
CONFIG_PACKAGE_luci-theme-argon_new=n #Argon主题(New)
CONFIG_PACKAGE_luci-theme-opentopd=n #Opentopd主题
CONFIG_PACKAGE_luci-theme-opentopd_new=y #Opentopd主题(New)
CONFIG_PACKAGE_luci-theme-edge=n #Edge主题
CONFIG_PACKAGE_luci-theme-netgear=n #Netgear主题
CONFIG_PACKAGE_luci-theme-atmaterial_new=y #Atmaterial主题(New)
CONFIG_PACKAGE_luci-theme-mcat=n #Mcat主题
CONFIG_PACKAGE_luci-theme-tomato=n #Tomato主题

#Network include
CONFIG_PACKAGE_shadowsocks-libev-config=y
CONFIG_PACKAGE_shadowsocks-libev-ss-local=y
CONFIG_PACKAGE_shadowsocks-libev-ss-redir=y
CONFIG_PACKAGE_shadowsocks-libev-ss-server=y
CONFIG_PACKAGE_shadowsocks-rust-sslocal=y
CONFIG_PACKAGE_shadowsocksr-libev-ssr-check=y
CONFIG_PACKAGE_shadowsocksr-libev-ssr-local=y
CONFIG_PACKAGE_shadowsocksr-libev-ssr-redir=y
CONFIG_PACKAGE_shadowsocksr-libev-ssr-server=y
CONFIG_PACKAGE_simple-obfs-client=y
CONFIG_PACKAGE_trojan-plus=y
CONFIG_PACKAGE_v2ray-plugin=y
CONFIG_PACKAGE_xray-core=y
CONFIG_PACKAGE_xray-geodata=y
CONFIG_PACKAGE_kcptun=y
CONFIG_PACKAGE_brook=y
CONFIG_PACKAGE_dns2socks=y
CONFIG_PACKAGE_chinadns-ng=y

#zzz-default-settings
CONFIG_PACKAGE_zzz-default-settings=y

CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_wget=y
CONFIG_PACKAGE_tcpdump=y
CONFIG_PACKAGE_tcping=y

#add ipv6 support
CONFIG_PACKAGE_dnsmasq_full_dhcpv6=y
CONFIG_PACKAGE_ipv6helper=y
CONFIG_PACKAGE_iputils-traceroute6=y
CONFIG_PACKAGE_odhcp6c=y
CONFIG_PACKAGE_odhcp6c_ext_cer_id=0
CONFIG_PACKAGE_odhcpd-ipv6only=y
CONFIG_PACKAGE_odhcpd_ipv6only_ext_cer_id=0
CONFIG_PACKAGE_luci-proto-ipv6=y
CONFIG_PACKAGE_ip6tables-mod-nat=y

#其他需要安装的软件包:
CONFIG_OPENSSL_PREFER_CHACHA_OVER_GCM=y
CONFIG_PACKAGE_autocore-switch=y

#ksmbd
CONFIG_PACKAGE_kmod-fs-ksmbd=n

#nfs
CONFIG_PACKAGE_kmod-fs-nfsd=n
CONFIG_PACKAGE_kmod-fs-nfs=n
CONFIG_PACKAGE_kmod-fs-nfs-v4=n

#UnblockNeteaseMusic
CONFIG_PACKAGE_UnblockNeteaseMusic=n
CONFIG_PACKAGE_UnblockNeteaseMusicGo=n

#ftp相关
CONFIG_PACKAGE_vsftpd-alt=n

#网络唤醒相关
CONFIG_PACKAGE_etherwake=n

#DDNS相关
CONFIG_PACKAGE_ddns-scripts=n
CONFIG_PACKAGE_ddns-scripts_aliyun=n
CONFIG_PACKAGE_ddns-scripts_dnspod=n

#nano
CONFIG_PACKAGE_nano=y

#lib
CONFIG_PACKAGE_libcap=y
CONFIG_PACKAGE_libcap-bin=y
CONFIG_PACKAGE_libevent2=y
CONFIG_PACKAGE_libncurses=y
CONFIG_PACKAGE_libstdcpp=y
CONFIG_PACKAGE_libuv=y
CONFIG_PACKAGE_libwebsockets-full=y

#terminfo
CONFIG_PACKAGE_terminfo=y

#boost
CONFIG_boost-compile-visibility-hidden=y
CONFIG_boost-runtime-shared=y
CONFIG_boost-static-and-shared-libs=y
CONFIG_boost-variant-release=y

#iptables
CONFIG_PACKAGE_iptables=y
CONFIG_PACKAGE_ip6tables=y
CONFIG_PACKAGE_kmod-ip6tables=y
CONFIG_PACKAGE_iptables-mod-extra=y
CONFIG_PACKAGE_iptables-mod-conntrack-extra=y
CONFIG_PACKAGE_iptables-mod-ipopt=y
CONFIG_PACKAGE_iptables-mod-tproxy=y

#ca-certificates
CONFIG_PACKAGE_ca-certificates=y

#ip
CONFIG_PACKAGE_ipset=y
CONFIG_PACKAGE_ip-full=y

#ruby
CONFIG_PACKAGE_ruby=y
CONFIG_PACKAGE_ruby-yaml=y

#other kom
CONFIG_PACKAGE_kmod-tun=y

#luci
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-base=y

#other
CONFIG_PACKAGE_coreutils=y
CONFIG_PACKAGE_coreutils-nohup=y
CONFIG_PACKAGE_bash=y
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_jsonfilter=y
